a {
    text-decoration: none;
}

.activeRow {
    background: #E6E6FA;
}

.inActiveRow {
    background: none;
}

table, th, td {
    border: 1px solid lightgray;
    text-align: center;
}

@media only screen
and (max-width: 760px), (min-device-width: 768px)
and (max-device-width: 1024px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:last-child {
        margin: 0 0 0 0;
    }

    tr:nth-child(odd) {
        background: #B0E0E6;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 4px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "Items to approve";
    }

    td:nth-of-type(2):before {
        content: "Number of records";
    }
}